
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div ng-app="MyApp" ng-controller="EndUserController">
<strong class="error">{{error}}</strong>
<div class="form-horizontal">
    @Html.AntiForgeryToken()
    <form name="AddData" ng-submit="submitForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : AddData.Email.$invalid && (AddData.Email.$touched || submitted) }">
            @*<input type="hidden" ng-init="MyFollow.TempId=@ViewBag.EndUserRequestId" ng-model="MyFollow.TempId" />*@
            <lable class="control-label col-md-2">Email:</lable>
            <div class="col-md-10">
                <input type="email" name="Email" class="form-control" ng-model="EndUser.Email" placeholder="Enter Email" ng-required="true" />
                <p ng-show="AddData.Email.$error.required && (AddData.Email.$touched || submitted)" class="help-block">Email is Required</p>
                <p ng-show="AddData.Email.$invalid && (AddData.Email.$touched || submitted)" class="help-block">Please Enter Valid Email Address</p>
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Street1:</lable>
            <div class="col-md-10">
                <input type="text" name="Street1" class="form-control" ng-model="EndUser.Street1" placeholder="Enter Street1" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Street2:</lable>
            <div class="col-md-10">
                <input type="text" name="Street2" class="form-control" ng-model="EndUser.Street2" placeholder="Enter Street1" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">City:</lable>
            <div class="col-md-10">
                <input type="text" name="City" class="form-control" ng-model="EndUser.City" placeholder="Enter City" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">State:</lable>
            <div class="col-md-10">
                <input type="text" name="State" class="form-control" ng-model="EndUser.State" placeholder="Enter State" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Country:</lable>
            <div class="col-md-10">
                <input type="text" name="Country" class="form-control" ng-model="EndUser.Country" placeholder="Enter Country" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Contact No:</lable>
            <div class="col-md-10">
                <input type="text" name="ContactNo" class="form-control" ng-model="EndUser.ContactNo" placeholder="Enter Contact No" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Pin:</lable>
            <div class="col-md-10">
                <input type="text" name="Pin" class="form-control" ng-model="EndUser.Pin" placeholder="Enter Pin" />
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">Gender:</lable>
            <div class="col-md-10">
                <input type="radio" name="Gender" value="Male" checked ng-model="EndUser.Gender" />
                Male
                <input type="radio" name="Gender" value="Female" ng-model="EndUser.Gender" />
                Female
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">DateOfBirth:</lable>
            <div class="col-md-10">
                <input type="date" name="DateOfBirth" class="form-control datepicker" ng-model="EndUser.DateOfBirth" placeholder="Enter DateOfBirth" ng-required="true" />
                <p ng-show="AddData.DateOfBirth.$invalid && (AddData.DateOfBirth.$touched || submitted)" class="help-block">Date of Birth is Required</p>
            </div>
        </div>
        <div class="form-group">
            <lable class="control-label col-md-2">DateOfJoining:</lable>
            <div class="col-md-10">
                <input type="date" name="DateOfJoining" class="form-control datepicker" ng-model="EndUser.DateOfJoining" placeholder="Enter DateOfJoining" ng-required="true" />
                <p ng-show="AddData.DateOfJoining.$invalid && (AddData.DateOfJoining.$touched || submitted)" class="help-block">Date of Joining is Required</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" ng-click="SaveData()" class="btn btn-default" />
            </div>
        </div>
        </form>
</div>
    </div>
