
@{
    ViewBag.Title = "Log in";
}
<h2>@ViewBag.Title.</h2>
<div ng-app="MyApp" ng-controller="ExternalLoginController" class="row">
    
    <div class="col-md-4">
        <h2 class="form-login-heading">Social Logins for End Users</h2>
        <button class="btn-primary" type="button" data-ng-click="authExternalProvider('Facebook')">Connect With Facebook</button>
        <button class="btn-primary" type="button" data-ng-click="authExternalProvider('Twitter')">Connct with Twitter</button>
    </div>
    </div>