@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/ProductOwnerLayout.cshtml";
}

<h2>Add ProductDetails</h2>


<div ng-app="MyApp" ng-controller="ProductDetailsController">
    <strong class="error">{{error}}</strong>
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <form name="AddData" ng-submit="submitForm()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : AddData.ProductIntro.$invalid && (AddData.ProductIntro.$touched || submitted) }">
                <lable class="control-label col-md-2">Product Introduction:</lable>
                <div class="col-md-10">
                    <input type="text" name="ProductIntro" class="form-control" ng-model="ProductDetails.ProductIntro" placeholder="Enter ProductIntro" ng-required="true" />
                    <p ng-show="AddData.ProductIntro.$error.required && (AddData.ProductIntro.$touched || submitted)" class="help-block">ProductIntro is Required</p> 
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : AddData.Details.$invalid && (AddData.Details.$touched || submitted) }">
                <lable class="control-label col-md-2">Details:</lable>
                <div class="col-md-10">
                    <input type="text" name="Details" class="form-control" ng-model="ProductDetails.Details" placeholder="Enter Product Details" ng-required="true" />
                    <p ng-show="AddData.Details.$invalid && (AddData.Details.$touched || submitted)" class="help-block">Details is Required</p>
                </div>
            </div>
            <div class="form-group">
                <lable class="control-label col-md-2">Media:</lable>
                <div class="col-md-10">
                    <input type="file" name="file" value="Upload File" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" placeholder="Select Files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="submit" ng-click="SaveData()" class="btn btn-default" />
                </div>
            </div>
</form>
</div>
</div>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>