@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h2>ProductDetails</h2>


<div ng-app="MyApp" ng-controller="ProductDetailsController">
    <strong class="error">{{error}}</strong>
    <div class="form-horizontal">
        @Html.AntiForgeryToken()


</div>
</div>