
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/ProductOwnerLayout.cshtml";
}


<h2>Product Details</h2>
<div ng-app="MyApp">
<div ng-controller="LogoutController">
   
        <button data-ng-click="Logout()" class="btn-primary right">Logout</button>
   
</div>
<div ng-controller="ProductDetailsController">
    
    Hello, {{UserName}}
    
    <div ng-show="ShowImage">
        <table style="background-color:#FFFFFF; border: solid 2px #6D7B8D; padding:6px;table-layout:fixed;overflow: auto;
display: inline-block; width:830px;height:520px" cellpadding="2" cellspacing="2">
            <tr>
                <td align="center">


                    @*<table style=" background-color:#FFFFFF; border: solid 2px #6D7B8D; width:800;" cellpadding="2" cellspacing="2" align="center">

                        <tr>


                            <td align="center">*@
                    @*<img ng-repeat="thumbImage in Images" class="slide" src="~/Images/{{ Image_Path }" width="800" height="500px">*@
                    <div ng-show="ShowImage">
                        <img src="/Images/{{AnimationImageName}}" alt="{{AnimationImageName}}" width="800" height="500px">
                    </div>
                    @*</td>
                            </tr>
                        </table>*@
                </td>
            </tr>
        </table>
        <table style=" background-color:#FFFFFF; border solid 2px #6D7B8D; padding 5px;width:99%;table-layout:fixed;overflow: auto;
               display inline-block;" cellpadding="2" cellspacing="2">

            <tr>


                <td ng-repeat="thumbImage in MediaDetails" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <img src="/Images/{{ thumbImage.Media }}" alt="Click here for large Image view" width="160px" height="120px"
                         ng-click="onShowImage(thumbImage.Media)">
                    <br />
                    
                </td>
                <td>
                ProductIntro:{{ProductIntro}}
                    </td>
            </tr>
        </table>
    </div>
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>Product Intro</th>
                <th>Details</th>
                <th>Images</th>
            </tr>

            <tr ng-repeat="ProductDetails in ProductDetails ">
                <td>{{ProductDetails.ProductId}}</td>
                <td>{{ProductDetails.ProductIntro}}</td>
                <td>{{ProductDetails.Details}}</td>
                @*<td ng-repeat="ThumbImage in MediaDetails">

                    <img src="/Images/{{ThumbImage.Media}}" />
                </td>*@  
                <td><a data-ng-click="ViewImage(ProductDetails)" href="javascript:;">View Media</a></td> 
            </tr>
               
        </table>
    </div>

</div>
    </div>