@{
    ViewBag.Title = "Product Owner Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Owner Registration</h2>



    <div ng-app="MyApp" ng-controller="ProductOwnerController">
        <strong class="error">{{error}}</strong>
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <form name="AddData" ng-submit="submitForm()" novalidate>
                <input type="hidden" ng-init="ProductOwner.RequestId=@ViewBag.ProductOwnerRequestId" ng-model="ProductOwner.RequestId" />
                <div class="form-group" ng-class="{ 'has-error' : AddData.Email.$invalid && (AddData.Email.$touched || submitted) }">
                    @*<input type="hidden" ng-init="MyFollow.TempId=@ViewBag.ProductOwnerRequestId" ng-model="MyFollow.TempId" />*@

                    <lable class="control-label col-md-2">Email:</lable>
                    <div class="col-md-10">
                        <input type="email" name="Email" class="form-control" ng-model="ProductOwner.Email" placeholder="Enter Email" ng-required="true" />
                        <p ng-show="AddData.Email.$error.required && (AddData.Email.$touched || submitted)" class="help-block">Email is Required</p>
                        <p ng-show="AddData.Email.$invalid && (AddData.Email.$touched || submitted)" class="help-block">Please Enter Valid Email Address</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : AddData.Password.$invalid && (AddData.Password.$touched || submitted) }">
                    <lable class="control-label col-md-2">Password:</lable>
                    <div class="col-md-10">
                        <input type="password" name="Password" class="form-control" ng-model="ProductOwner.Password" placeholder="Enter Password" ng-required="true" />
                        <p ng-show="AddData.Password.$invalid && (AddData.Email.$touched || submitted)" class="help-block">Password is Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">Street1:</lable>
                    <div class="col-md-10">
                        <input type="text" name="Street1" class="form-control" ng-model="ProductOwner.Street1" placeholder="Enter Street1" />
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">Street2:</lable>
                    <div class="col-md-10">
                        <input type="text" name="Street2" class="form-control" ng-model="ProductOwner.Street2" placeholder="Enter Street1" />
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">City:</lable>
                    <div class="col-md-10">
                        <input type="text" name="City" class="form-control" ng-model="ProductOwner.City" placeholder="Enter City" />
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">State:</lable>
                    <div class="col-md-10">
                        <input type="text" name="State" class="form-control" ng-model="ProductOwner.State" placeholder="Enter State" />
                    </div>
                </div>

                <div class="form-group">
                    <lable class="control-label col-md-2">Country:</lable>
                    <div class="col-md-10">
                        <input type="text" name="Country" class="form-control" ng-model="ProductOwner.Country" placeholder="Enter Country" />
                    </div>
                </div>

                <div class="form-group">
                    <lable class="control-label col-md-2">Contact No:</lable>
                    <div class="col-md-10">
                        <input type="text" name="ContactNo" class="form-control" ng-model="ProductOwner.ContactNo" placeholder="Enter Contact No" />
                    </div>
                </div>

                <div class="form-group">
                    <lable class="control-label col-md-2">Pin:</lable>
                    <div class="col-md-10">
                        <input type="text" name="Pin" class="form-control" ng-model="ProductOwner.Pin" placeholder="Enter Pin" />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : AddData.CompanyName.$invalid && (AddData.CompanyName.$touched || submitted) }">
                    <lable class="control-label col-md-2">Company Name:</lable>
                    <div class="col-md-10">
                        <input type="text" name="CompanyName" class="form-control" ng-model="ProductOwner.CompanyName" placeholder="Enter Company Name" ng-required="true" />
                        <p ng-show="AddData.CompanyName.$error.required && (AddData.CompanyName.$touched || submitted)" class="help-block">Company Name is Required</p>

                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : AddData.Description.$invalid && (AddData.Description.$touched || submitted) }">
                    <lable class="control-label col-md-2">Description:</lable>
                    <div class="col-md-10">
                        <input type="text" name="Description" class="form-control" ng-model="ProductOwner.Description" placeholder="Enter Description" ng-required="true" />
                        <p ng-show="AddData.Description.$invalid && (AddData.Email.$touched || submitted)" class="help-block">Description is Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">DateOfJoining:</lable>
                    <div class="col-md-10">
                        <input type="date" name="DateOfJoining" class="form-control datepicker" ng-model="ProductOwner.DateOfJoining" placeholder="Enter DateOfJoining" ng-required="true" />
                        <p ng-show="AddData.Description.$invalid && (AddData.Description.$touched || submitted)" class="help-block">Date of Joining is Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">FoundedIn:</lable>
                    <div class="col-md-10">
                        <input type="text" name="FoundedIn" class="form-control" ng-model="ProductOwner.FoundedIn" placeholder="Enter FoundedIn" ng-required="true" />
                        <p ng-show="AddData.FoundedIn.$invalid && (AddData.FoundedIn.$touched || submitted)" class="help-block">FoundedIn is Required</p>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">WebsiteURL:</lable>
                    <div class="col-md-10">
                        <input type="url" name="WebsiteURL" class="form-control" ng-model="ProductOwner.WebsiteURL" placeholder="Enter WebsiteURL" />
                        <p ng-show="AddData.WebsiteURL.$error.url && (AddData.WebsiteURL.$touched || submitted)" class="help-block">WebsiteURL is not valid</p>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-2">TwitterHandler:</lable>
                    <div class="col-md-10">
                        <input type="url" name="TwitterHandler" class="form-control" ng-model="ProductOwner.TwitterHandler" placeholder="Enter TwitterHandler" />
                    </div>
                </div>

                <div class="form-group">
                    <lable class="control-label col-md-2">FacebookPageURL:</lable>
                    <div class="col-md-10">
                        <input type="url" name="FacebookPageURL" class="form-control" ng-model="ProductOwner.FacebookPageURL" placeholder="Enter FacebookPageURL" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" ng-click="SaveData()" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
