
@{
    ViewBag.Title = "Add Product Owner Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Product Owner Request</h2>

    <div ng-app="MyApp" ng-controller="ProductOwnerRequestController">
        <strong class="error">{{error}}</strong>
    <div class="form-horizontal">
    @Html.AntiForgeryToken()   
       <form name="AddData" ng-submit="submitForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : AddData.Name.$invalid && (AddData.Name.$dirty || submitted) }">
            
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-10">
                <input type="text" name="Name" class="form-control" ng-model="ProductOwnerRequest.Name" placeholder="Enter Name" ng-required="true" />
                <p ng-show="AddData.Name.$invalid && (AddData.Name.$dirty || submitted)" class="help-block">Name is Required</p>
            </div>
        </div>

           <div class="form-group" ng-class="{ 'has-error' : AddData.Email.$invalid && (AddData.Email.$dirty || submitted) }">
               <label class="control-label col-md-2">Email:</label>
               <div class="col-md-10">
                   <input type="email" name="Email" placeholder="Enter Email Address" ng-required="true"  class="form-control" ng-model="ProductOwnerRequest.Email" />
                   <p ng-show="AddData.Email.$error.required && (AddData.Email.$dirty || submitted)" class="help-block">Email is Required</p>
                   <p ng-show="AddData.Email.$invalid && (AddData.Email.$dirty || submitted)" class="help-block">Please Enter Valid Email Address</p>
               </div>
           </div>

           <div class="form-group"ng-class="{ 'has-error' : AddData.CompanyName.$invalid && (AddData.CompanyName.$dirty || submitted) }">

               <label class="control-label col-md-2">Company Name:</label>
               <div class="col-md-10">
                   <input type="text" name="CompanyName" class="form-control" ng-model="ProductOwnerRequest.CompanyName" ng-required="true" placeholder="Enter Company Name" />
                   <p ng-show="AddData.CompanyName.$invalid && (AddData.CompanyName.$dirty || submitted)" class="help-block">Company Name is Required</p>
               </div>
           </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" ng-click="SaveData()" class="btn btn-default" />
            </div>
        </div>
           </form>
    </div>
        </div>


<div>
    
</div>

