
@{
    ViewBag.Title = "Product Owner Request";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Product Owner Request</h2>

<div  ng-app="MyApp">
<div ng-controller="LogoutController">

    <button data-ng-click="Logout()" class="btn-primary right">Logout</button>

</div>

<div ng-controller="ProductOwnerRequestController">
    Hello, {{UserName}}
    <strong class="error">{{error}}</strong>
    <div class="form-horizontal">
        @Html.AntiForgeryToken() 

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company Name</th>
    </tr>

    <tr ng-repeat="ProductOwnerRequest in ProductOwnerRequests ">
        <td>{{ProductOwnerRequest.ProductOwnerRequestId}}</td>
        <td>{{ProductOwnerRequest.Name}}</td>
        <td>{{ProductOwnerRequest.Email}}</td>
        <td>{{ProductOwnerRequest.CompanyName}}</td>
        <td><a ng-click="Approve(ProductOwnerRequest)" href="javascript:;">Approve</a> | <a ng-click="DisApprove(ProductOwnerRequest)" href="javascript:;">DisApprove</a></td>
    </tr>

</table>
</div>
</div>
    </div>